## Importing Library and reading the data
Pandas - Python library used of working with dataframes 

Numpy - Python library used for working with numbers and series

In [1]:
# Importing Pandas and Numpy library

import pandas as pd
import numpy as np

Reading and saving the survey data into a dataframe

In [2]:
# Reading the survey data (.csv format)
# Saving each file in different data frames (Public and Schema)

df_pbl = pd.read_csv('Devdata/survey_results_public.csv')
df_schema = pd.read_csv('Devdata/survey_results_schema.csv')

Identifying the shape and intial columns of the dataframe

In [3]:
# .shape gives the shape of the dataframe - rows and colums

print(df_pbl.shape)
print(df_schema.shape)

(88883, 85)
(85, 2)

In [4]:
# .head() gives the intial lines of dataframe

df_pbl.head(10)

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
5,6,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Canada,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,28.0,Man,No,Straight / Heterosexual,East Asian,No,Too long,Neither easy nor difficult
6,7,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,"Independent contractor, freelancer, or self-em...",Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",...,A lot more welcome now than last year,NaN,42.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Neither easy nor difficult
7,8,I code primarily as a hobby,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,NaN,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,NaN,NaN,Appropriate in length,Neither easy nor difficult
8,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
9,10,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Somewhat less welcome now than last year,Tech articles written by other developers;Tech...,NaN,NaN,NaN,NaN,NaN,Yes,Too long,Difficult

In [5]:
df_schema.head(10)

           Column                                       QuestionText
0      Respondent  Randomized respondent ID number (not in order ...
1      MainBranch  Which of the following options best describes ...
2        Hobbyist                            Do you code as a hobby?
3     OpenSourcer        How often do you contribute to open source?
4      OpenSource  How do you feel about the quality of open sour...
5      Employment  Which of the following best describes your cur...
6         Country          In which country do you currently reside?
7         Student  Are you currently enrolled in a formal, degree...
8         EdLevel  Which of the following best describes the high...
9  UndergradMajor  What was your main or most important field of ...

In [6]:
# Setting the Respondent in df_pbl and column in fd_schema as indexes

df_pbl.set_index('Respondent',inplace=True)
df_schema.set_index('Column',inplace=True)

In [7]:
df_schema.head(2)

                                                 QuestionText
Column
Respondent  Randomized respondent ID number (not in order ...
MainBranch  Which of the following options best describes ...

In [8]:
df_pbl.tail(5)

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

### Identifying values based on the Index

In [9]:
#Identifying the 100th Respondent
# iloc - starts indexing from 0, hence (n-1) gives the n value

df_pbl.iloc[99]

MainBranch                         I am a developer by profession
Hobbyist                                                      Yes
OpenSourcer                            Once a month or more often
OpenSource      The quality of OSS and closed source software ...
Employment                                     Employed full-time
                                      ...
Sexuality                                                Bisexual
Ethnicity                            White or of European descent
Dependents                                                     No
SurveyLength                                Appropriate in length
SurveyEase                                                   Easy
Name: 100, Length: 84, dtype: object

In [10]:
# using .loc[] to identify the 100th repondent with index name

df_pbl.loc[100]

MainBranch                         I am a developer by profession
Hobbyist                                                      Yes
OpenSourcer                            Once a month or more often
OpenSource      The quality of OSS and closed source software ...
Employment                                     Employed full-time
                                      ...
Sexuality                                                Bisexual
Ethnicity                            White or of European descent
Dependents                                                     No
SurveyLength                                Appropriate in length
SurveyEase                                                   Easy
Name: 100, Length: 84, dtype: object

In [11]:
# Identifying the first 20 people's Hobby 

df_pbl.loc[1:20,['Hobbyist']]

           Hobbyist
Respondent
1               Yes
2                No
3               Yes
4                No
5               Yes
6               Yes
7                No
8               Yes
9               Yes
10              Yes
11              Yes
12               No
13              Yes
14              Yes
15              Yes
16              Yes
17              Yes
18              Yes
19              Yes
20               No

In [25]:
# Using slicers to get values between columns

df_pbl.loc[1:10,'Hobbyist':'Country']

,Hobbyist,OpenSourcer,OpenSource,Employment,Country
Respondent,,,,,
1,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom
2,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina
3,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand
4,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States
5,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine
6,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Canada
7,No,Never,The quality of OSS and closed source software ...,"Independent contractor, freelancer, or self-em...",Ukraine
8,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India
9,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand
10,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India

In [26]:
# Finding the distict vales in gender column along with their count

df_pbl['Gender'].value_counts(dropna=False)

Man                                                            77919
Woman                                                           6344
NaN                                                             3477
Non-binary, genderqueer, or gender non-conforming                597
Man;Non-binary, genderqueer, or gender non-conforming            181
Woman;Non-binary, genderqueer, or gender non-conforming          163
Woman;Man                                                        132
Woman;Man;Non-binary, genderqueer, or gender non-conforming       70
Name: Gender, dtype: int64

In [27]:
# Identifying disting values of students along with its count number (including null)

df_pbl['Student'].value_counts(dropna=False)

No                65816
Yes, full-time    15769
Yes, part-time     5429
NaN                1869
Name: Student, dtype: int64

In [28]:
# Identifying the unique values in the column

df_pbl['Student'].unique()

array(['No', 'Yes, full-time', nan, 'Yes, part-time'], dtype=object)

### Identifying the type of data and their column datatypes

In [29]:
# Identifying the type of data 

type(df_pbl)

pandas.core.frame.DataFrame

In [30]:
# Identifying the columns and their datatypes

df_pbl.dtypes

MainBranch      object
Hobbyist        object
OpenSourcer     object
OpenSource      object
Employment      object
                 ...
Sexuality       object
Ethnicity       object
Dependents      object
SurveyLength    object
SurveyEase      object
Length: 84, dtype: object

### Filtering Data

In [32]:
# Identifying the desired condition and passing it through the dataframe

'''This results in a boolean result, but when again passed into the
dataframe it gives the actual dataframe with the desired result'''

df_pbl['Gender']=='Man'

Respondent
1         True
2         True
3         True
4         True
5         True
         ...
88377     True
88601    False
88802    False
88816    False
88863     True
Name: Gender, Length: 88883, dtype: bool

In [33]:
# Filtering the dataframe with 'Gender' column with value as 'Man'

df_pbl[df_pbl['Gender']=='Man']

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88182,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed part-time,Pakistan,NaN,"Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,...,Not applicable - I did not use Stack Overflow ...,Courses on technologies you're interested in,NaN,Man,No,Straight / Heterosexual,NaN,Yes,Too short,Neither easy nor difficult
88212,NaN,No,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Spain,No,"Secondary school (e.g. American high school, G...",NaN,"Taught yourself a new language, framework, or ...",...,NaN,Tech articles written by other developers;Indu...,40.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
88282,NaN,Yes,Once a month or more often,The quality of OSS and closed source software ...,"Not employed, but looking for work",United States,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,NaN,NaN,Man,No,Straight / Heterosexual,NaN,No,Too short,Neither easy nor difficult
88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [41]:
# Filtering data with .loc 
# Assingning the filter to a variable and then passing it to the .loc

filt=df_pbl['Gender']=='Man'
df_pbl.loc[filt,['Hobbyist','Country','Gender']]

           Hobbyist                 Country Gender
Respondent
1               Yes          United Kingdom    Man
2                No  Bosnia and Herzegovina    Man
3               Yes                Thailand    Man
4                No           United States    Man
5               Yes                 Ukraine    Man
...             ...                     ...    ...
88182           Yes                Pakistan    Man
88212            No                   Spain    Man
88282           Yes           United States    Man
88377           Yes                  Canada    Man
88863           Yes                   Spain    Man

[77919 rows x 3 columns]

### Use of (&) and (|) operator

In [43]:
# Using & and | operator to specify conditions

filt1 = (df_pbl['Gender']=='Woman') & (df_pbl['Country']=='United States') 
df_pbl.loc[filt1,['Country','Student','SocialMedia']]

                  Country         Student SocialMedia
Respondent
35          United States              No   Instagram
51          United States  Yes, full-time      Reddit
105         United States              No    Facebook
142         United States              No     YouTube
148         United States              No   Instagram
...                   ...             ...         ...
55901       United States              No    Snapchat
57520       United States  Yes, part-time    Facebook
70197       United States              No    Facebook
77890       United States             NaN         NaN
83397       United States              No         NaN

[2092 rows x 3 columns]

In [45]:
filt2 = (df_pbl['Gender']=='Woman') | (df_pbl['Country']=='United States') 
df_pbl.loc[filt2,['Country','Student','SocialMedia']]

                   Country         Student               SocialMedia
Respondent
4            United States              No                    Reddit
12                  Canada  Yes, full-time                    Reddit
13           United States              No                   Twitter
22           United States              No                 Instagram
23           United States              No                    Reddit
...                    ...             ...                       ...
83612             Thailand             NaN  I don't use social media
84539       United Kingdom  Yes, full-time                       NaN
85182               Canada             NaN                  Snapchat
85642        United States              No                       NaN
88282        United States              No  I don't use social media

[25201 rows x 3 columns]

In [47]:
# Using a (-) to filter out the condition, all results except the filter 

df_pbl.loc[-filt1,['Country','Student','SocialMedia','Gender']]

                           Country         Student SocialMedia Gender
Respondent
1                   United Kingdom              No     Twitter    Man
2           Bosnia and Herzegovina  Yes, full-time   Instagram    Man
3                         Thailand              No      Reddit    Man
4                    United States              No      Reddit    Man
5                          Ukraine              No    Facebook    Man
...                            ...             ...         ...    ...
88377                       Canada              No     YouTube    Man
88601                          NaN             NaN         NaN    NaN
88802                          NaN             NaN         NaN    NaN
88816                          NaN             NaN         NaN    NaN
88863                        Spain  Yes, full-time    WhatsApp    Man

[86791 rows x 4 columns]

###  Aggregate functions

In [48]:
# Calculating statistical data like percentile, mean and std of the numerical values of the Series or DataFrame

df_pbl.describe()

          CompTotal  ConvertedComp   WorkWeekHrs    CodeRevHrs           Age
count  5.594500e+04   5.582300e+04  64503.000000  49790.000000  79210.000000
mean   5.519014e+11   1.271107e+05     42.127197      5.084308     30.336699
std    7.331926e+13   2.841523e+05     37.287610      5.513931      9.178390
min    0.000000e+00   0.000000e+00      1.000000      0.000000      1.000000
25%    2.000000e+04   2.577750e+04     40.000000      2.000000     24.000000
50%    6.200000e+04   5.728700e+04     40.000000      4.000000     29.000000
75%    1.200000e+05   1.000000e+05     44.750000      6.000000     35.000000
max    1.000000e+16   2.000000e+06   4850.000000     99.000000     99.000000

In [49]:
#Aggregate function on single column

df_pbl['Age'].mean()

30.336698649160446

In [50]:
df_pbl['Age'].median()

29.0

In [51]:
# Aggregate function on dataframe - selects the column with numerical values and gives the aggregate function value

df_pbl.median()

C:\Users\Ragul\AppData\Local\Temp\ipykernel_13980\88392120.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_pbl.median()

CompTotal        62000.0
ConvertedComp    57287.0
WorkWeekHrs         40.0
CodeRevHrs           4.0
Age                 29.0
dtype: float64

In [52]:
# counting the number of not empty values of column

df_pbl['ConvertedComp'].count()

55823

In [53]:
# Renaming the Convertedcomp to SalaryUSD for better reference

df_pbl.rename(columns={'ConvertedComp':'SalaryUSD'},inplace=True)

In [54]:
# Verifying the change

df_pbl['SalaryUSD']

Respondent
1            NaN
2            NaN
3         8820.0
4        61000.0
5            NaN
          ...
88377        NaN
88601        NaN
88802        NaN
88816        NaN
88863        NaN
Name: SalaryUSD, Length: 88883, dtype: float64

### Groupby

In [56]:
# Grouping the data based on the country

country_grp  = df_pbl.groupby(['Country'])

In [57]:
country_grp

In [59]:
df_pbl["Country"].unique()

array(['United Kingdom', 'Bosnia and Herzegovina', 'Thailand',
       'United States', 'Ukraine', 'Canada', 'India', 'New Zealand',
       'Antigua and Barbuda', 'Germany', 'Australia',
       'Russian Federation', 'Brazil', 'Lithuania', 'Israel',
       'South Africa', 'Colombia', 'Turkey', 'Switzerland', 'Argentina',
       'Sri Lanka', 'Czech Republic', 'Denmark', 'Malaysia', 'Bangladesh',
       'Spain', 'Serbia', 'Poland', 'Sweden', 'China', 'France',
       'Netherlands', 'Italy', 'Philippines', 'Ireland', 'Pakistan',
       'Azerbaijan', 'Austria', 'Estonia', 'Croatia', 'South Korea',
       'Greece', 'Japan', 'Romania', 'Finland', 'Bulgaria', 'Viet Nam',
       'Slovenia', 'Iran', 'Belarus', 'Hungary', 'Latvia',
       'Hong Kong (S.A.R.)', 'United Arab Emirates', 'Portugal',
       'Nigeria', 'Norway', 'Nicaragua', 'Zimbabwe', 'Egypt', 'Mexico',
       'Dominican Republic', 'Guatemala', 'Chile', 'Ecuador', 'Ghana',
       'Uganda', 'Cambodia', 'Mauritius', 'Nepal', 'Singapore',
       'Sierra Leone', 'Republic of Moldova', 'Belgium', 'Armenia',
       'Afghanistan', 'Bahrain', 'Mongolia', 'Georgia', 'Cyprus', 'Kenya',
       'Luxembourg', 'Saudi Arabia', 'Cape Verde', 'Peru', 'Burundi',
       'Iraq', 'Slovakia', 'Algeria', 'Taiwan', 'Yemen', 'Indonesia',
       'Morocco', 'Libyan Arab Jamahiriya', 'Belize', 'Mali',
       'Trinidad and Tobago', 'Venezuela, Bolivarian Republic of...',
       'Panama', 'Lebanon', 'Tunisia', 'Kuwait', 'Andorra',
       "Côte d'Ivoire", 'Syrian Arab Republic', 'El Salvador', 'Cameroon',
       'Malta', 'Turkmenistan', 'Brunei Darussalam',
       'Other Country (Not Listed Above)', 'Costa Rica', 'Jordan',
       'Albania', 'Uzbekistan', 'Sudan', 'Kazakhstan',
       'The former Yugoslav Republic of Macedonia', 'Ethiopia',
       'Paraguay', 'Myanmar', 'Somalia', 'Guyana', 'Honduras', 'Qatar',
       'Jamaica', 'Fiji', 'Haiti', 'Democratic Republic of the Congo',
       'Benin', 'Namibia', 'Montenegro', 'Rwanda', 'Tajikistan',
       'Uruguay', 'Mauritania', 'Bolivia', 'Gabon', 'Liechtenstein',
       'United Republic of Tanzania', 'Kyrgyzstan',
       "Lao People's Democratic Republic", 'Madagascar', 'Guinea',
       'Republic of Korea', 'Cuba', 'Maldives', 'Monaco', 'North Korea',
       'Senegal', 'Angola', 'Iceland', 'Togo', 'Swaziland',
       'Congo, Republic of the...', 'Zambia', 'Oman', 'Timor-Leste',
       'Tonga', 'Djibouti', "Democratic People's Republic of Korea",
       'Niger', 'Mozambique', 'Botswana', 'Dominica', 'Papua New Guinea',
       'Barbados', 'Seychelles', 'Lesotho', 'Bahamas', 'Burkina Faso',
       'Saint Kitts and Nevis', 'Malawi', 'Liberia', 'Bhutan',
       'Saint Vincent and the Grenadines', 'San Marino',
       'Sao Tome and Principe', 'Chad', nan], dtype=object)

In [60]:
# Getting the grouped values from the dataframe with the get_group()

country_grp.get_group('India')

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
8,I code primarily as a hobby,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,NaN,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,NaN,NaN,Appropriate in length,Neither easy nor difficult
10,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,NaN,...,Somewhat less welcome now than last year,Tech articles written by other developers;Tech...,NaN,NaN,NaN,NaN,NaN,Yes,Too long,Difficult
15,I am a student who is learning to code,Yes,Never,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,20.0,Man,No,NaN,NaN,Yes,Too long,Neither easy nor difficult
50,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of LOWER quality than prop...",Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",Received on-the-job training in software devel...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,23.0,Man,No,NaN,South Asian,No,Too long,Easy
65,I am a developer by profession,Yes,Never,NaN,Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",NaN,...,A lot more welcome now than last year,NaN,21.0,Man,No,NaN,NaN,Yes,Appropriate in length,Neither easy nor difficult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77339,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",Taken an online course in programming or softw...,...,Not applicable - I did not use Stack Overflow ...,Tech articles written by other developers;Indu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79795,NaN,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Somewhat more welcome now than last year,Tech meetups or events in your area;Courses on...,NaN,Man,No,Straight / Heterosexual,NaN,No,Too long,Difficult
83862,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,Participated in a hackathon,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,NaN,Yes,Too long,Neither easy nor difficult
84299,NaN,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,Taken an online course in programming or softw...,...,Somewhat more welcome now than last year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86012,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Another engineering discipline (ex. civil, ele...","Taught yourself a new language, framework, or ...",...,Not applicable - I did not use Stack Overflow ...,Industry news about technologies you're intere...,24.0,Man,No,NaN,South Asian,NaN,Appropriate in length,Easy

In [61]:
# Filtering the count of social media users in India - (without Groupby)

con_fil = df_pbl['Country'] == 'India'
df_pbl.loc[con_fil,'SocialMedia'].value_counts()

WhatsApp                    2990
YouTube                     1820
LinkedIn                     955
Facebook                     841
Instagram                    822
Twitter                      542
Reddit                       473
I don't use social media     250
Snapchat                      23
Hello                          5
WeChat 微信                      5
VK ВКонта́кте                  4
Youku Tudou 优酷                 2
Weibo 新浪微博                     1
Name: SocialMedia, dtype: int64

In [62]:
# Finding the SocialMedia users per each platform for every country

country_grp['SocialMedia'].value_counts().head(50)

Country              SocialMedia
Afghanistan          Facebook                     15
                     YouTube                       9
                     I don't use social media      6
                     WhatsApp                      4
                     Instagram                     1
                     LinkedIn                      1
                     Twitter                       1
Albania              WhatsApp                     18
                     Facebook                     16
                     Instagram                    13
                     YouTube                      10
                     Twitter                       8
                     LinkedIn                      7
                     Reddit                        6
                     I don't use social media      4
                     Snapchat                      1
                     WeChat 微信                     1
Algeria              YouTube                      42
                     Facebook                     41
                     Twitter                      14
                     LinkedIn                      9
                     I don't use social media      7
                     Instagram                     7
                     Reddit                        2
                     WhatsApp                      2
Andorra              Facebook                      2
                     I don't use social media      2
                     Reddit                        1
                     Snapchat                      1
                     YouTube                       1
Angola               Twitter                       2
                     Facebook                      1
                     YouTube                       1
Antigua and Barbuda  YouTube                       2
                     Facebook                      1
                     Instagram                     1
                     Twitter                       1
                     VK ВКонта́кте                 1
Argentina            WhatsApp                    202
                     Twitter                      80
                     YouTube                      62
                     Instagram                    53
                     Reddit                       50
                     Facebook                     45
                     I don't use social media     22
                     LinkedIn                     16
Armenia              Facebook                     38
                     YouTube                      23
                     LinkedIn                      5
                     Instagram                     3
Name: SocialMedia, dtype: int64

In [63]:
# Finding individual data by using groupby column index 
# Filtering the count of social media users in India - (without Groupby)
# Groupby column data becomes the index

country_grp['SocialMedia'].value_counts().loc['India']

SocialMedia
WhatsApp                    2990
YouTube                     1820
LinkedIn                     955
Facebook                     841
Instagram                    822
Twitter                      542
Reddit                       473
I don't use social media     250
Snapchat                      23
Hello                          5
WeChat 微信                      5
VK ВКонта́кте                  4
Youku Tudou 优酷                 2
Weibo 新浪微博                     1
Name: SocialMedia, dtype: int64

In [64]:
# Finding median and mean for canada and United States on the grouped data

country_grp['SalaryUSD'].agg(['median','mean']).loc[['Canada','United States']]

                 median           mean
Country
Canada          68705.0  134018.564909
United States  110000.0  249546.254589

### Apply function

In [70]:
# Count of people who have worked with python in each country
# Using a lambda function to define the condition 

country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

Country
Afghanistan                              8
Albania                                 23
Algeria                                 40
Andorra                                  0
Angola                                   2
                                        ..
Venezuela, Bolivarian Republic of...    28
Viet Nam                                78
Yemen                                    3
Zambia                                   4
Zimbabwe                                14
Name: LanguageWorkedWith, Length: 179, dtype: int64